Dockerfile
.dockerignore
node_modules
npm-debug.log
dist

*.bak
*.old
*.orig

.env
.env.local
.env.*.local

*.log
*.tsbuildinfo
*.swp
*.swo
.cache
coverage
tmp
*.tmp

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

.git/
.gitignore